{% extends 'base.html.twig' %}

{% block title %}CateringApp Home{% endblock %}

{% block body %}
    {% for flash in app.flashes('info') %}
        <div>{{ flash }}</div>
    {% endfor %}
{% endblock %}
